<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>DocStrap Source: spinner/src/spinner.vue</title>

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link type="text/css" rel="stylesheet" href="styles/sunlight.default.css">

	<link type="text/css" rel="stylesheet" href="styles/site.cosmo.css">

</head>

<body>

<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
<div class="container">
	<div class="navbar-header">
		<a class="navbar-brand" href="index.html">DocStrap</a>
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#topNavigation">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
        </button>
	</div>
	<div class="navbar-collapse collapse" id="topNavigation">
		<ul class="nav navbar-nav">
			
			<li class="dropdown">
				<a href="global.html" class="dropdown-toggle" data-toggle="dropdown">Global<b class="caret"></b></a>
				<ul class="dropdown-menu ">
					<li><a href="global.html#getClazz">getClazz</a></li><li><a href="global.html#getIcons">getIcons</a></li><li><a href="global.html#getName">getName</a></li><li><a href="global.html#getStyles">getStyles</a></li>
				</ul>
			</li>
			
		</ul>
        
            <div class="col-sm-3 col-md-3">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="q" id="search-input">
                        <div class="input-group-btn">
                            <button class="btn btn-default" id="search-submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        
	</div>

</div>
</div>


<div class="container" id="toc-content">
<div class="row">

	
	<div class="col-md-12">
	
		<div id="main">
			

		<h1 class="page-title">Source: spinner/src/spinner.vue</h1>
    
<section>
    <article>
        <pre
            class="sunlight-highlight-javascript linenums">&lt;template>
    &lt;span class="v-spinner" :class="`v-spinner--${status} v-spinner--${size} ${hasTipClass}`">
        &lt;div
            class="v-spinner__container__default"
            :class="{'v-spinner__container__loading' : isContainer}"
            :style="loadingStyle"
        >
            &lt;div class="v-spinner__loading">
                &lt;div class="v-spinner__loading__img" />
            &lt;/div>
        &lt;/div>
        &lt;span class="v-spinner__before" :style="opacitySet">&lt;/span>
        &lt;span  v-if="hasSlot" class="v-spinner__tip" :style="offset">
            &lt;slot>&lt;/slot>
        &lt;/span>
        &lt;span class="v-spinner__after" :style="offset">&lt;/span>
    &lt;/span>
&lt;/template>

&lt;script>
export default {
    name: 'VSpinner',

    props: {
        /**
         * 样式类型
         * @value default, primary, warning, success
         */
        status: {
            type: String,
            default: 'default'
        },
        /**
         * 大小类型
         * @value small, medium, large
         */
        size: {
            type: String,
            default: 'small'
        },
        /**
         * 设置加载中背景蒙版的透明度，用小数表示
         * @value 0-1
         */
        opacity: {
            type: Number,
            default: 1
        },
        /**
         * 设置加载中水平偏移
         * @value 百分比例如"50%"，或者偏移像素值例如"100px"，或者用50表示偏移像素值50px
         */
        offsetX: {
            type: [String, Number],
            default: '50%'
        },
        /**
         * 设置加载中垂直偏移
         * @value 百分比例如"50%"，或者偏移像素值例如"100px"，或者用50表示偏移像素值50px
         */
        offsetY: {
            type: [String, Number],
            default: '50%'
        }
    },
    data() {
        return {
            isContainer: false
        };
    },
    computed: {
        hasSlot() {
            return !!this.$slots.default;
        },
        hasTipClass() {
            return this.hasSlot ? 'v-spinner--has-tip' : '';
        },
        opacitySet() {
            return {
                opacity: this.opacity
            };
        },
        offset() {
            return {
                left: typeof this.offsetX === 'number' ? this.offsetX + 'px' : this.offsetX,
                top: typeof this.offsetY === 'number' ? this.offsetY + 'px' : this.offsetY
            };
        },
        loadingStyle() {
            return this.isContainer ? this.offset : {};
        }
    },
    mounted() {
        this.isContainer = this.$el.getAttribute('data-isContainer') === 'true';
    }
};
&lt;/script>
</pre>
    </article>
</section>





		</div>
	</div>

	<div class="clearfix"></div>

	

</div>
</div>


    <div class="modal fade" id="searchResults">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Search results</h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>


<footer>


	<span class="copyright">
	DocStrap Copyright © 2012-2015 The contributors to the JSDoc3 and DocStrap projects.
	</span>

<span class="jsdoc-message">
	Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc 3.6.10</a>
	
		on Wed Feb 23rd 2022
	
	using the <a href="https://github.com/docstrap/docstrap">DocStrap template</a>.
</span>
</footer>

<script src="scripts/docstrap.lib.js"></script>
<script src="scripts/toc.js"></script>

    <script type="text/javascript" src="scripts/fulltext-search-ui.js"></script>


<script>
$( function () {
	$( "[id*='$']" ).each( function () {
		var $this = $( this );

		$this.attr( "id", $this.attr( "id" ).replace( "$", "__" ) );
	} );

	$( ".tutorial-section pre, .readme-section pre, pre.prettyprint.source" ).each( function () {
		var $this = $( this );

		var example = $this.find( "code" );
		exampleText = example.html();
		var lang = /{@lang (.*?)}/.exec( exampleText );
		if ( lang && lang[1] ) {
			exampleText = exampleText.replace( lang[0], "" );
			example.html( exampleText );
			lang = lang[1];
		} else {
			var langClassMatch = example.parent()[0].className.match(/lang\-(\S+)/);
			lang = langClassMatch ? langClassMatch[1] : "javascript";
		}

		if ( lang ) {

			$this
			.addClass( "sunlight-highlight-" + lang )
			.addClass( "linenums" )
			.html( example.html() );

		}
	} );

	Sunlight.highlightAll( {
		lineNumbers : true,
		showMenu : true,
		enableDoclinks : true
	} );

	$.catchAnchorLinks( {
        navbarOffset: 10
	} );
	$( "#toc" ).toc( {
		anchorName  : function ( i, heading, prefix ) {
			return $( heading ).attr( "id" ) || ( prefix + i );
		},
		selectors   : "#toc-content h1,#toc-content h2,#toc-content h3,#toc-content h4",
		showAndHide : false,
		smoothScrolling: true
	} );

	$( "#main span[id^='toc']" ).addClass( "toc-shim" );
	$( '.dropdown-toggle' ).dropdown();

    $( "table" ).each( function () {
      var $this = $( this );
      $this.addClass('table');
    } );

} );
</script>



<!--Navigation and Symbol Display-->


<!--Google Analytics-->



    <script type="text/javascript">
        $(document).ready(function() {
            SearcherDisplay.init();
        });
    </script>


</body>
</html>
